<html>
<head>
	<link rel="stylesheet" href="../src/editor/lib/codemirror.css">
	<link rel="stylesheet" href="../src/editor/theme/one-dark.css">
	<link rel="stylesheet" href="../src/editor/addon/hint/show-hint.css">
	<link rel="stylesheet" href="../src/editor/addon/fold/foldgutter.css" />
	<link rel="stylesheet" href="../src/editor/addon/dialog/dialog.css">
	<link rel="stylesheet" href="../src/editor/addon/search/matchesonscrollbar.css">
	<link rel="stylesheet" href="../src/editor/addon/scroll/simplescrollbars.css">
	<link rel="stylesheet" href="../assets/css/editor.css">
	<link href="../assets/css/file-explore.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../assets/css/metro.css">
	<link rel="stylesheet" href="../assets/css/loading-bar.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<script src = "../src/editor/lib/codemirror.js"></script>
	<!-- <script src = "../src/editor/mode/javascript/javascript.js"></script> -->
	<script src="../src/editor/addon/fold/foldcode.js"></script>
	<script src="../src/editor/addon/fold/foldgutter.js"></script>
	<script src="../src/editor/addon/fold/brace-fold.js"></script>
	<script src="../src/editor/addon/fold/xml-fold.js"></script>
	<script src="../src/editor/addon/fold/indent-fold.js"></script>
	<script src="../src/editor/addon/fold/markdown-fold.js"></script>
	<script src="../src/editor/addon/fold/comment-fold.js"></script>
	<script src="../src/editor/addon/selection/active-line.js"></script>
	<script src="../src/editor/addon/hint/javascript-hint.js"></script>
	<script src="../src/editor/addon/hint/html-hint.js"></script>
	<script src="../src/editor/addon/hint/css-hint.js"></script>
	<script src="../src/editor/addon/hint/sql-hint.js"></script>
	<script src="../src/editor/addon/hint/autosuggest.js"></script>
	<script src="../src/editor/addon/hint/xml-hint.js"></script>
	<script src="../src/editor/addon/mode/multiplex.js"></script>
	<script src="../src/editor/addon/hint/show-hint.js"></script>
	<script src="../src/editor/addon/hint/anyword-hint.js"></script>
	<script src="../src/editor/addon/edit/closebrackets.js"></script>
	<script src="../src/editor/addon/edit/matchbrackets.js"></script>
	<script src="../src/editor/addon/edit/closetag.js"></script>
	<script src="../src/editor/addon/dialog/dialog.js"></script>
	<script src="../src/editor/addon/comment/comment.js"></script>
	<script src="../src/editor/addon/scroll/annotatescrollbar.js"></script>
	<script src="../src/editor/addon/search/matchesonscrollbar.js"></script>
	<script src="../src/editor/addon/search/searchcursor.js"></script>
	<script src="../src/editor/addon/search/search.js"></script>
	<script src="../src/editor/addon/search/match-highlighter.js"></script>
	<script src="../src/editor/addon/search/jump-to-line.js"></script>
	<script src="../src/editor/addon/scroll/simplescrollbars.js"></script>
	<script src="../src/editor/addon/edit/trailingspace.js"></script>
	<script src="../src/editor/keymap/sublime.js"></script>
	<script src="../src/editor/mode/javascript/javascript.js"></script>
	<script src="../src/editor/addon/mode/loadmode.js"></script>
	<script src="../src/editor/mode/meta.js"></script>
	<script src="../src/editor/addon/display/panel.js"></script>
	<script>
        window.jQuery = window.$ = require('../assets/js/jquery.js');
	</script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/loading-bar.js"></script>
	<!-- <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script> -->
	<!-- <script src="../menu/functions.js"></script> -->
</head>
<body>
<div class="panel-container">
	<div class="side-nav">
		<ul class="sidenav-simple h-auto">
			<li><a href="#" onclick = "newFile()">
				<span class="icon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
			</a></li>
			<li><a href="#" onclick = "openProjectStructure()">
				<span class="icon"><i class="fa fa-folder-o" aria-hidden="true"></i></span>
			</a></li>
			<li><a href="#" onclick = "openConsole()">
				<span class="icon"><i class="fa fa-terminal" aria-hidden="true"></i></span>
			</a></li>
			<li><a href="#" onclick = "openHtmlPreview()">
				<span class="icon"><i class="fa fa-television" aria-hidden="true"></i></span>
			</a></li>
			<li><a href="#" onclick = "openMarkdownPreview()">
				<span class="icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
			</a></li>
			<li><a href="#" onclick = "openUpdateDownloadSection()">
				<span class="icon"><i class="fa fa-download" aria-hidden="true"></i></span>
			</a></li>
		</ul>
	</div>
	<div class="panel-left column">
		<div class="project-title"><div style="text-align:center"><span>Project</span></div></div>
		<!-- <span class = "project-title"><center>Project</center></span> -->
		<div id = "project-structure" ></div>
	</div>
	<div class="splitter">
	</div>
	<div class="panel-middle" data-target = "editors">

		<ul class="nav nav-tabs" id="code_mirror_editors">
			<!-- <li class="active"><a href="" id = "filename_new1" onclick = "opentab(this)" data-target="#new1" role="tab" data-toggle="tab">Untitled</a></li> -->
			<!-- <li><a href="" data-target="#editor2" role="tab" data-toggle="tab">Second Editor 2</a></li> -->
		</ul>
		<div class="tab-content" id = "editors">
			<!-- <div class="tab-pane active" id="new1">
                <textarea id="file_new1"></textarea>
            </div> -->
			<!-- <div class="tab-pane" id="editor2">
                <textarea id="codeify_editor2">&lt;p&gt;Second editor 2&lt;/p&gt;</textarea>
            </div> -->
		</div>

		<!-- <textarea id = "code"></textarea> -->
	</div>
	<div class="splitter2">
	</div>
	<div class="panel-right column">
		<div class = "console-container">
			<div>
				<!-- close button -->
				<!-- <a href="#" style="text-decoration:none" onclick="openConsole()" >&times;</a> -->
				<!-- end here -->
				<span class = "vertical-align-middle">Input</span>
				<img onclick = "run()" src = "../assets/icons/run-button.svg" width="40px;" class = "vertical-align-middle run-button"></img>
			</div>
			<textarea id = "input" class="console" ></textarea><br>
			<div><span>Output</span><br><br>
				<span id = "output" class="console"></span>
			</div>
		</div>

		<div class = "html-preview">
			<iframe id=html-preview class="html-preview"></iframe>
			<img style = "position: relative;float: left;bottom:70;right:30;float:right;" onclick = "updateHtmlPreview()" src = "../assets/icons/refresh-button.svg" width="40px"></img>
		</div>
		<div class = "markdown-preview">
			<!-- <button onclick = "updateMarkdownPreview()">refresh</button> -->
			<iframe id=markdown-preview class="markdown-preview"></iframe>
			<img style = "position: relative;float: left;bottom:70;right:30;float:right;" onclick = "updateMarkdownPreview()" src = "../assets/icons/refresh-button.svg" width="40px"></img>
		</div>

		<div class = "update-download-section">
			<center>
				<div class = "centered-box" id = "update-section-box">
					<button class = "btn" id = "check-for-update" onclick="checkForUpdates()">Check For Updates</button>
					<!-- <div id = "download_bar" class = "ldBar" data-preset = "rainbow" data-value = "50"></div> -->
				</div>
			</center>
		</div>

	</div>

	<!-- Theme Panel -->

	<div id="themeChengePanel" class="center" style="display: none">
		<div style="width: 100%; height: auto;">
			<div class="x" onclick="document.getElementById('themeChengePanel').style.display ='none'"></div>
		</div>
		<div class="options" style="padding: 50px;">
			<div style="margin-bottom: 10px; cursor: pointer;" onclick="setTheme('one-dark.css')">one-dark</div>
			<div style="cursor: pointer;" onclick="setTheme('ambiance.css')">ambiance</div>
			<div style="cursor: pointer;" onclick="setTheme('darcula.css')">darcula</div>
			<div style="cursor: pointer;" onclick="setTheme('dracula.css')">dracula</div>
			<div style="cursor: pointer;" onclick="setTheme('eclipse.css')">eclipse</div>
			<div style="cursor: pointer;" onclick="setTheme('gruvbox-dark.css')">gruvbox-dark</div>
			<div style="cursor: pointer;" onclick="setTheme('hopscotch.css')">hopscotch</div>
			<div style="cursor: pointer;" onclick="setTheme('monokai.css')">monokai</div>
		</div>
	</div>

	<!-- end here -->

</div>
</body>
<script src = "../assets/js/jquery-resizable.js"></script>
<script src = "../assets/js/editor.js"></script>
<!-- <script src = "../assets/js/jquery.js"></script> -->
<script src = "../assets/js/file-explore.js"></script>
<script src = "../assets/js/sublime_keymap.js"></script>
<!-- <script src="../menu/functions.js"></script> -->

<style>
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/*width: 400px;*/
		/*height: 200px;*/
		border-radius: 5px;
		background-color: white;
		z-index: 1000;
	}
	.x {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		width: 30px;
		height: 30px;
		transition: transform .50s ease-in-out;
	}
	.x:hover {
		transform: rotate(180deg);
	}
	.x:before {
		content: "";
		position: absolute;
		display: block;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 32px;
		height: 0;
		border-top: 1px solid rgba(255, 52, 63, 0.5);
		transform: rotate(45deg);
		transform-origin: center;
	}
	.x:after {
		content: "";
		position: absolute;
		display: block;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 32px;
		height: 0;
		border-top: 1px solid rgba(255, 52, 63, 0.5);
		transform: rotate(-45deg);
		transform-origin: center;
	}
</style>
<script>
</script>
</html>