<html>
<head>
	<link rel="stylesheet" href="../src/editor/lib/codemirror.css">
	<link rel="stylesheet" href="../src/editor/theme/one-dark.css">
	<link rel="stylesheet" href="../src/editor/addon/hint/show-hint.css">
	<link rel="stylesheet" href="../src/editor/addon/fold/foldgutter.css" />
	<link rel="stylesheet" href="../src/editor/addon/dialog/dialog.css">
	<link rel="stylesheet" href="../src/editor/addon/search/matchesonscrollbar.css">
	<link rel="stylesheet" href="../src/editor/addon/scroll/simplescrollbars.css">
	<link rel="stylesheet" href="../assets/css/editor.css">
	<link href="../assets/css/file-explore.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" href="../assets/css/metro.css">
	<link rel="stylesheet" href="../assets/css/loading-bar.css">
	<link rel="Stylesheet" href="../node_modules/xterm/lib/xterm.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<script src = "../src/editor/lib/codemirror.js"></script>
	<!-- <script src = "../src/editor/mode/javascript/javascript.js"></script> -->
	<script src="../src/editor/addon/fold/foldcode.js"></script>
	<script src="../src/editor/addon/fold/foldgutter.js"></script>
	<script src="../src/editor/addon/fold/brace-fold.js"></script>
	<script src="../src/editor/addon/fold/xml-fold.js"></script>
	<script src="../src/editor/addon/fold/indent-fold.js"></script>
	<script src="../src/editor/addon/fold/markdown-fold.js"></script>
	<script src="../src/editor/addon/fold/comment-fold.js"></script>
	<script src="../src/editor/addon/selection/active-line.js"></script>
	<script src="../src/editor/addon/hint/javascript-hint.js"></script>
	<script src="../src/editor/addon/hint/html-hint.js"></script>
	<script src="../src/editor/addon/hint/css-hint.js"></script>
	<script src="../src/editor/addon/hint/sql-hint.js"></script>
	<script src="../src/editor/addon/hint/autosuggest.js"></script>
	<script src="../src/editor/addon/hint/xml-hint.js"></script>
	<script src="../src/editor/addon/mode/multiplex.js"></script>
	<script src="../src/editor/addon/hint/show-hint.js"></script>
	<script src="../src/editor/addon/hint/anyword-hint.js"></script>
	<script src="../src/editor/addon/edit/closebrackets.js"></script>
	<script src="../src/editor/addon/edit/matchbrackets.js"></script>
	<script src="../src/editor/addon/edit/closetag.js"></script>
	<script src="../src/editor/addon/dialog/dialog.js"></script>
	<script src="../src/editor/addon/comment/comment.js"></script>
	<script src="../src/editor/addon/scroll/annotatescrollbar.js"></script>
	<script src="../src/editor/addon/search/matchesonscrollbar.js"></script>
	<script src="../src/editor/addon/search/searchcursor.js"></script>
	<script src="../src/editor/addon/search/search.js"></script>
	<script src="../src/editor/addon/search/match-highlighter.js"></script>
	<script src="../src/editor/addon/search/jump-to-line.js"></script>
	<script src="../src/editor/addon/scroll/simplescrollbars.js"></script>
	<script src="../src/editor/addon/edit/trailingspace.js"></script>
	<script src="../src/editor/keymap/sublime.js"></script>
	<script src="../src/editor/mode/javascript/javascript.js"></script>
	<script src="../src/editor/addon/mode/loadmode.js"></script>
	<script src="../src/editor/mode/meta.js"></script>
	<script src="../src/editor/addon/display/panel.js"></script>
	<script>
        window.jQuery = window.$ = require('../assets/js/jquery.js');
	</script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/loading-bar.js"></script>
	<!-- <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script> -->
	<!-- <script src="../menu/functions.js"></script> -->
</head>
<body>
<div class="panel-container">
	<div class="side-nav">
		<ul class="sidenav-simple h-auto">
			<li><a href="#" onclick = "newFile()" title  = "New File">
				<span class="icon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
			</a></li>
			<li><a href="#" onclick = "openProjectStructure()" title = "Project Structure">
				<span class="icon"><i class="fa fa-folder-o" aria-hidden="true" ></i></span>
			</a></li>
			<li><a href="#" onclick = "openConsole()" title = "Console">
				<span class="icon"><i class="fa fa-play" aria-hidden="true" ></i></span>
			</a></li>
			<li><a href="#" onclick = "openTerminal()" title = "Terminal">
				<span class="icon"><i class="fa fa-terminal" aria-hidden="true" ></i></span>
			</a></li>
			<li><a href="#" onclick = "openHtmlPreview()" title = "Html Preview">
				<span class="icon"><i class="fa fa-television" aria-hidden="true" ></i></span>
			</a></li>
			<li><a href="#" onclick = "openMarkdownPreview()" title = "Markdown Preview">
				<span class="icon"><i class="fa fa-desktop" aria-hidden="true" ></i></span>
			</a></li>
			<li><a href="#" onclick = "openUpdateDownloadSection()" title = "Download Updates">
				<span class="icon"><i class="fa fa-download" aria-hidden="true" ></i></span>
				<span id = "update-badge" class="custom-badge hide">➊</span>
			</a></li>
			<li><a href="#" onclick = "openCodeSharingPanel()" title = "Code Sharing">
				<span class="icon"><i class="fa fa-share-square-o" aria-hidden="true" ></i></span>
			</a></li>
			<li><a href="#" onclick = "openSettingsPanel()" title = "Settings">
				<span class="icon"><i class="fa fa-cog" aria-hidden="true" ></i></span>
			</a></li>
		</ul>
	</div>
	<div class="panel-left column">
		<div class="project-title"><div style="text-align:center"><span>Project</span></div></div>
		<!-- <span class = "project-title"><center>Project</center></span> -->
		<div id = "project-structure" ></div>
	</div>
	<div class="splitter">
	</div>
	<div class="panel-middle" data-target = "editors">

		<ul class="nav nav-tabs" id="code_mirror_editors">
			<!-- <li class="active"><a href="" id = "filename_new1" onclick = "opentab(this)" data-target="#new1" role="tab" data-toggle="tab">Untitled</a></li> -->
			<!-- <li><a href="" data-target="#editor2" role="tab" data-toggle="tab">Second Editor 2</a></li> -->
		</ul>
		<div class="tab-content" id = "editors">
			<!-- <div class="tab-pane active" id="new1">
                <textarea id="file_new1"></textarea>
            </div> -->
			<!-- <div class="tab-pane" id="editor2">
                <textarea id="codeify_editor2">&lt;p&gt;Second editor 2&lt;/p&gt;</textarea>
            </div> -->
		</div>

		<!-- <textarea id = "code"></textarea> -->
	</div>
	<div class="splitter2">
	</div>
	<div class="panel-right column">
		<div class = "console-container">
			<div>
				<!-- close button -->
				<!-- <a href="#" style="text-decoration:none" onclick="openConsole()" >&times;</a> -->
				<!-- end here -->
				<span class = "vertical-align-middle">Input</span>
				<img id = "run-button" onclick = "run()" src = "../assets/icons/run-button.svg" width="40px;" class = "vertical-align-middle run-button"></img>
				<img id = "stop-button" onclick = "stop()" src = "../assets/icons/stop-button.svg" width="40px;" class = "vertical-align-middle stop-button hide"></img>
			</div>
			<textarea id = "input" class="console" ></textarea><br>
			<div><span>Output</span><br><br>
				<span id = "output" class="console"></span>
			</div>
		</div>

		<!-- terminal -->
		
		<div class = "terminal-container">
			<div id="terminal"></div>	
		</div>

		<div class = "html-preview">
			<iframe id=html-preview class="html-preview" sandbox="allow-same-origin"></iframe>
			<img style = "position: relative;float: left;bottom:70;right:30;float:right;" onclick = "updateHtmlPreview()" src = "../assets/icons/refresh-button.svg" width="40px"></img>
		</div>
		<div class = "markdown-preview">
			<!-- <button onclick = "updateMarkdownPreview()">refresh</button> -->
			<iframe id=markdown-preview class="markdown-preview" sandbox="allow-same-origin"></iframe>
			<img style = "position: relative;float: left;bottom:70;right:30;float:right;" onclick = "updateMarkdownPreview()" src = "../assets/icons/refresh-button.svg" width="40px"></img>
		</div>

		<div class = "update-download-section">
			<center>
				<div class = "centered-box" id = "update-section-box">
					<button class = "btn" id = "check-for-update" onclick="checkForUpdates()">Check For Updates</button>
					<!-- <div id = "download_bar" class = "ldBar" data-preset = "rainbow" data-value = "50"></div> -->
				</div>
			</center>
		</div>

		<!-- settings panel -->

		<div class = "settings-panel">
			<div class = "left-settings-panel">
				<ul id="menu">
		            <li id = "menu-themes" onclick = "openSettingsRightPanel('themes')">Themes</li>
		            <li id = "menu-editor" onclick = "openSettingsRightPanel('editor')">Editor</li>
		            <li id = "menu-discord-rpc" onclick = "openSettingsRightPanel('discord-rpc')">Discord RPC</li>
		        </ul>
			</div>
			<div class = "right-settings-panel">
		        <div id = "themes" >

		        	<div id = "one-dark-theme" class = "theme-container" onclick="setTheme('one-dark.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/one-dark.png"></img>
		        			<p>One Dark</p>
		        		</center>
		        	</div>

		        	<div id = "ambiance-theme" class = "theme-container" onclick="setTheme('ambiance.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/ambiance.png"></img>
		        			<p>Ambiance</p>
		        		</center>
		        	</div>

		        	<div id = "darcula-theme" class = "theme-container" onclick="setTheme('darcula.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/darcula.png"></img>
		        			<p>Darcula</p>
		        		</center>
		        	</div>

		        	<div id = "dracula-theme" class = "theme-container" onclick="setTheme('dracula.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/dracula.png"></img>
		        			<p>Dracula</p>
		        		</center>
		        	</div>

		        	<div id = "eclipse-theme" class = "theme-container" onclick="setTheme('eclipse.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/eclipse.png"></img>
		        			<p>Eclipse</p>
		        		</center>
		        	</div>

		        	<div id = "gruvbox-dark-theme" class = "theme-container" onclick="setTheme('gruvbox-dark.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/gruvbox-dark.png"></img>
		        			<p>Gruvbox Dark</p>
		        		</center>
		        	</div>

		        	<div id = "hopscotch-theme" class = "theme-container" onclick="setTheme('hopscotch.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/hopscotch.png"></img>
		        			<p>Hopscotch</p>
		        		</center>
		        	</div>

		        	<div id = "monokai-theme" class = "theme-container" onclick="setTheme('monokai.css')">
		        		<center>
		        			<img class = "theme-img" src = "../assets/img/themes/monokai.png"></img>
		        			<p>Monokai</p>
		        		</center>
		        	</div>

		        </div>

		        <div id = "editor" >

	        		<label for="lineNumbers" class="label-cbx">
				      <input id="lineNumbers" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Show Line Numbers</span>
				      <p class="checkbox-description">Show line numbers in editor's gutter.</p>
				    </label>
				    <br>

				    <label for="styleActiveLine" class="label-cbx">
				      <input id="styleActiveLine" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Highlight Active Line</span>
				      <p class = "checkbox-description">Highlight current active line.</p>
				    </label><br>

				    <label for="lineWrapping" class="label-cbx">
				      <input id="lineWrapping" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Soft Wrap</span>
				      <p class = "checkbox-description">Wraps line that exceed the width of the window.</p>
				    </label><br>

				    <label for="foldGutter" class="label-cbx">
				      <input id="foldGutter" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Fold Gutter</span>
				      <p class = "checkbox-description">Markers indicating the blocks that can be folded.</p>
				    </label><br>

				    <label for="autoCloseBrackets" class="label-cbx">
				      <input id="autoCloseBrackets" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Auto Close Brackets</span>
				      <p class = "checkbox-description">Auto-close brackets and quotes when typed.</p>
				    </label><br>

				    <label for="autoCloseTags" class="label-cbx">
				      <input id="autoCloseTags" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Auto Close Tags</span>
				      <p class = "checkbox-description">Auto-close XML tags when '>' or '/' is typed</p>
				    </label><br>

				    <label for="showTrailingSpace" class="label-cbx">
				      <input id="showTrailingSpace" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Show Trailing Space</span>
				      <p class = "checkbox-description">Show trailing of whitespace at the end of lines.</p>
				    </label><br>

				    <label for="matchBrackets" class="label-cbx">
				      <input id="matchBrackets" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Match Brackets</span>
				      <p class = "checkbox-description">Matching brackets to be highlighted whenever the cursor is next to them.</p>
				    </label><br>

				    <label for="indentWithTabs" class="label-cbx">
				      <input id="indentWithTabs" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Indent With Tabs</span>
				      <p class = "checkbox-description">When indenting, the first N*tabSize spaces should be replaced by N tabs. </p>
				    </label><br>

				    <label for="tabSize">
				    	<span>Tab Size</span>
				    	<p class="checkbox-description-input">Number of spaces used to represent a tab.</p>
				    	<input id = "tabSize" type = "number" class = "input-field">
				    </label>

				    <br><br>

				    <label for="indentUnit">
				    	<span>Indent Unit</span>
				    	<p class="checkbox-description-input">Number of spaces used to indent a block.</p>
				    	<input id = "indentUnit" type = "number" class = "input-field">
				    </label>
				    
				    <br><br>

				    <button class = "btn" onclick = "saveEditorSettings()">Save Changes</button><br><br>
		        </div>

		        <div id = "discord-rpc">

		        	<label for="discord-rpc-enable" class="label-cbx">
				      <input id="discord-rpc-enable" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="17px" height="17px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      <span>Enable Discord RPC</span>
				      <p class="checkbox-description">Enable Discord Status.</p>
				    </label>
				    <br>

				    <label for="discord-status">
				    	<span>Discord Status</span>
				    	<p class="checkbox-description-input">Status to show on Discord.</p>
				    	<input id = "discord-status" type = "text" class = "input-field">
				    </label>
				    <br><br>
				    
				    <button class = "btn" onclick = "saveDiscordSettings()">Save Changes</button><br><br>

		        </div>
			</div>
		</div>

		<!-- settings panel end here -->


		<!-- code sharing panel -->

		<div class = "code-sharing-panel">
			<center>
				<div class = "centered-box" id = "code-sharing-box">
					<!-- <button class = "btn" id = "share-code" onclick="code_sharing.shareProject()">Share Project</button><br> -->
					<button class = "btn" id = "share-code" onclick="code_sharing.shareCode(true)">Share Code</button><br>
					<button class = "btn" id = "connect" onclick="code_sharing.connect(false)">Connect</button>
					<!-- <br> -->
					<!-- <button class = "btn" id = "disconnect" onclick="disconnect()">Disconnect</button> -->
				</div>
			</center>
		</div>

		<!-- end here -->

	</div>

	<!-- Theme Panel -->

	<div id="themeChengePanel" class="center" style="display: none">
		<div style="width: 100%; height: auto;">
			<div class="x" onclick="document.getElementById('themeChengePanel').style.display ='none'"></div>
		</div>
		<div class="options" style="padding: 50px;">
			<div style="margin-bottom: 10px; cursor: pointer;" onclick="setTheme('one-dark.css')">one-dark</div>
			<div style="cursor: pointer;" onclick="setTheme('ambiance.css')">ambiance</div>
			<div style="cursor: pointer;" onclick="setTheme('darcula.css')">darcula</div>
			<div style="cursor: pointer;" onclick="setTheme('dracula.css')">dracula</div>
			<div style="cursor: pointer;" onclick="setTheme('eclipse.css')">eclipse</div>
			<div style="cursor: pointer;" onclick="setTheme('gruvbox-dark.css')">gruvbox-dark</div>
			<div style="cursor: pointer;" onclick="setTheme('hopscotch.css')">hopscotch</div>
			<div style="cursor: pointer;" onclick="setTheme('monokai.css')">monokai</div>
		</div>
	</div>

	<!-- end here -->

</div>
</body>
<script src = "../assets/js/jquery-resizable.js"></script>
<script src = "../assets/js/editor.js"></script>
<!-- <script src = "../assets/js/jquery.js"></script> -->
<script src = "../assets/js/file-explore.js"></script>
<script src = "../assets/js/sublime_keymap.js"></script>
<!-- <script src="../menu/functions.js"></script> -->

<style>
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/*width: 400px;*/
		/*height: 200px;*/
		border-radius: 5px;
		background-color: white;
		z-index: 1000;
	}
	.x {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		width: 30px;
		height: 30px;
		transition: transform .50s ease-in-out;
	}
	.x:hover {
		transform: rotate(180deg);
	}
	.x:before {
		content: "";
		position: absolute;
		display: block;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 32px;
		height: 0;
		border-top: 1px solid rgba(255, 52, 63, 0.5);
		transform: rotate(45deg);
		transform-origin: center;
	}
	.x:after {
		content: "";
		position: absolute;
		display: block;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 32px;
		height: 0;
		border-top: 1px solid rgba(255, 52, 63, 0.5);
		transform: rotate(-45deg);
		transform-origin: center;
	}
</style>
<script>
</script>
</html>