.CodeMirror {
	float: left; 
	width: 100%; 
	height: 100%;
    height: -webkit-calc(100% - 23px);
    height: -moz-calc(100% - 23px);
    height: calc(100% - 52px);
}
.cm-matchhighlight {
	border:1px solid #eee;
	border-radius: 3px;
}
.CodeMirror-selection-highlight-scrollbar {
	background-color: #eee;
}
.cm-tab {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAABCAYAAADJsB7sAAAAEElEQVR42mNU11D6zzAAAACqCQFyB4r58gAAAABJRU5ErkJggg==);
     background-position: right;
     background-repeat: no-repeat;
  }
.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}
body{
	margin: 0px;
	overflow: hidden;
	/*display: flex;  enables flex content for its children
    box-sizing: border-box;*/
}

/*:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}*/
input, button, textarea, :focus {
    outline: none;
}

::-webkit-scrollbar{
  width: 4px;  /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
}

/*::-webkit-scrollbar-track{
  background: #4b4c43;
}
*/
::-webkit-scrollbar-thumb{
  background: #4b5362;
  border-radius: 5px;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}

/*#code{
	padding: 1px; 
	position: absolute; 
	margin: 0px;
	left: 0px; 
	right: 0px; 
	top: 0px; 
	bottom: 0px; 
	width: auto; 
	height: 100%; 
}*/
.footer{
	font-family: system-ui;
	line-height: 1.5em;
	/*padding:5px;*/
	background-color: #21252b;
	color:#9da5b4;
}
.label{
	font-family: system-ui;
	font-size: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.left{
	float:left;
}


/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
   /*avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
	overflow: auto;
	flex: 0 0 auto;
	/* only manually resize */
	padding: 10px;
	width: 150px;
	min-height: 200px;
	min-width: 50px;
	white-space: nowrap;
	background: #21252b;
	color: #9da5b4;
}

.splitter {
	flex: 0 0 auto;
	width: 5px;  
	background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #21252b;
	min-height: 200px;
	cursor: col-resize;  
}

.panel-middle {
	flex: 0 0 auto;
	/*flex:1;*/
	/* resizable */
	/*padding: 10px;*/
	width: 100%;
	min-height: 200px;
	min-width: 200px;
	background: #eee;
}

.splitter2 {
	flex: 0 0 auto;
	width: 5px;
	background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #21252b;
	min-height: 200px;
	cursor: col-resize;  
}

.panel-right {
	overflow: auto;
	font-family: system-ui;
	flex: 1 1 auto;
	/*flex:1;*/
	/* resizable */
	/*padding: 10px;*/
	min-height: 200px;
	min-width: 200px;
	white-space: nowrap;
	background: #21252b;
	color: #9da5b4;
}

.console-container{
	margin:10px;
	display: none;
}

.console{
	font-family: monospace;
	font-size: 13;
	white-space: pre-line;
	background: transparent;
	width:100%;
	border:none;
	color:#fff;
	height: 50%;
	resize: none;
}

.html-preview{
	display: none;
	background: #fff;
	width: 100%;
	height: 100%;
	border: none;
}

.vertical-align-middle{
	vertical-align: middle;
}

.run-button:{
	cursor: pointer;
}
.close {
  position: relative;
 /* display: inline-block;
  width: 50px;
  height: 50px;*/
  overflow: hidden;
}
.close:hover::before, .close:hover::after {
  background: #bd1010;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 8px;
  top: 75%;
  left: 8;
  margin-top: -1px;
  background: #929292;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.black::before, .close.black::after {
  /*height: 8px;*/
  margin-top: -4px;
}

.dot {
	position: absolute;
	height: 5.5px;
	width: 5.5px;
	top:45%;
	right:4;
	background-color: #ff4444;
	border-radius: 50%;
	/*display: inline-block;*/
}